@tailwind base;
@tailwind components;
@tailwind utilities;

.product-short-description-wrap ul {
  list-style: disc;
  line-height: 200%;
  /* font-size: 18px; */
  color: rgb(74, 76, 77);
  margin-top: 20px;
  margin-left: 50px;
}

.product-description-wrap {
  margin: 20px 0px;
}

.product-description-wrap strong {
  font-size: 18px;
}

.product-description-wrap p {
  margin: 15px 0px;
  line-height: 200%;
  color: rgb(43, 43, 43);
}

.product-description-wrap p:first-letter {
  color: rgb(25, 25, 25);
  padding-left: 10px;
}

.product-spec-wrap table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  border: 1px solid rgb(221, 221, 221);
  color: rgb(43, 43, 43);
}

.product-spec-wrap table tr td {
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
}

.product-spec-wrap div:nth-child(3) {
  margin: 20px 20px;
  font-size: 14px;
  line-height: 200%;
  color: rgb(70, 70, 70);
}

.product-short-description-wrap::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(154, 154, 154, 0.591);
}

.product-short-description-wrap::-webkit-scrollbar-thumb {
  background-color: rgb(152, 151, 151);
  border-radius: 10px;
}

.product-short-description-wrap::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
