@tailwind base;
@tailwind components;
@tailwind utilities;

.product-short-description-wrap ul {
  list-style: disc;
  line-height: 200%;
  /* font-size: 18px; */
  color: rgb(74, 76, 77);
  margin-top: 20px;
  margin-left: 50px;
}

.product-description-wrap {
  margin: 20px 0px;
}

.product-description-wrap strong {
  font-size: 18px;
}

.product-description-wrap p {
  margin: 15px 0px;
  line-height: 200%;
  color: rgb(43, 43, 43);
}

.product-description-wrap p:first-letter {
  color: rgb(25, 25, 25);
  padding-left: 10px;
}

.product-spec-wrap table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  border: 1px solid rgb(221, 221, 221);
  color: rgb(43, 43, 43);
}

.product-spec-wrap table tr td {
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
}

.product-spec-wrap div:nth-child(3) {
  margin: 20px 20px;
  font-size: 14px;
  line-height: 200%;
  color: rgb(70, 70, 70);
}

.product-short-description-wrap::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(154, 154, 154, 0.591);
}

.product-short-description-wrap::-webkit-scrollbar-thumb {
  background-color: rgb(152, 151, 151);
  border-radius: 10px;
}

.product-short-description-wrap::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.filter-check-box {
  appearance: none;
  background-color: #e5f5ff;
  font: inherit;
  color: currentColor;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  border: 1px solid #6997bd9d;
  border-radius: 50%;
  transform: translateY(-0.075em);
}

.filter-check-box:checked {
  background-color: rgb(68, 70, 72);
}

.PhoneInput {
  width: 100%;
  display: flex;
}
.PhoneInputCountrySelect {
  width: 80px;
  height: 40px;
  border: 1px solid rgb(221, 221, 221);
  font-size: 12px;
  color: #343232;
}
.PhoneInputCountry {
  display: flex;
  position: relative;
  gap: 5px;
}

.PhoneInputCountryIconImg {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  /* margin: 10px; */
  /* position: absolute;
  top: 50%;
  left: 10px;
  transform: translatey(-50%); */
}
.PhoneInputInput {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(221, 221, 221);
  font-size: 12px;
  color: #343232;
  padding-left: 10px;
}

.loading-box {
  background: rgb(219, 219, 219);
  background: linear-gradient(
    45deg,
    rgb(222, 222, 222) 0%,
    rgb(205, 205, 205) 100%
  );
  background-size: 400% 400%;
  animation: loading 1.5s ease infinite;
}

/* Animation keyframe  */

@keyframes loading {
  0% {
    background-position: 0% 0%;
    opacity: 0.5;
  }
  100% {
    background-position: 100% 0%;
    opacity: 1;
  }
}
